<div class="row">
	<div class="col-lg-4">
		<%= form_for(@rating) do |f| %>
	 		<%= f.label :rating, "レーティング", class:'control-label', style:"padding-top:10px" %>
	    	<%= f.text_field :rating , class:"form-control"%>
	    	<%= f.submit '追加', class:"btn btn-primary",style:"margin-top:10px" %>
		<% end %>
		<%= link_to admins_top_path do %><div class="btn btn-success" style="margin-top:10px">管理画面へ戻る</div><% end %>
	</div>
	<div class="col-lg-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>レーティング</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @ratings.each do |rating| %>
				<tr>
					<td><%= rating.rating %></td>
					<td><%= link_to "削除",rating_path(rating),method: :delete %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>