<h2>お問い合わせ</h2>
	<div class="row">
		<div class="col-lg-8">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th class="col-lg-3">ユーザー名</th>
						<td><%= User.find(@contact.user_id).name %></td>
					</tr>
					<tr>
						<th class="col-lg-3">カテゴリー</th>
						<td><%= @contact.category %></td>
					</tr>
					<tr>
						<th class="col-lg-3">内容</th>
						<td><%= @contact.message %></td>
					</tr>
					<tr>
						<th class="col-lg-3">日付</th>
						<td><%= @contact.created_at.strftime("%Y-%m-%d") %></td>
					</tr>
				</tbody>
			</table>
			

			<%= form_for(@contact) do |f| %>
			<%= f.select :situation, [["未対応", "未対応"],["対応中","対応中"],["対応済","対応済"]], class: "form-control" %><br>

	    	<%= f.submit '変更', class:"btn btn-primary",style:"margin:10px 0 10px 0;" %>
		<% end %>
		</div>

	</div>

