	<h2>検索結果</h2>
	<div class="row">

		<% if admin_signed_in? %><!-- 管理者がログインしていたら　-->

		<div class="col-lg-12">
			<%= link_to admins_top_path do %><div class="btn btn-success" style="margin-bottom:10px">管理画面へ戻る</div>
		<% end %>
			<table class="table  table-bordered">
				<thead>
					<tr>
						<th class="col-lg-5">タイトル</th>
						<th>機種</th>
						<th>ジャンル</th>
						<th>発売日</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
				</thead>

				<tbody>
					<% @items.each do |item| %>
					<tr>
						<td><%= link_to item.title,item_path(item) %></td>
						<td><%= item.hardware.hardware %></td>
						<td><%= item.genre.genre %></td>
						<td><%= item.sale_date %></td>
						<td><%= link_to "編集",edit_item_path(item),class:"btn btn-warning" %></td>
						<td><%= link_to "削除",item_path(item),method: :delete,class:"btn btn-danger" %></td>
					</tr>
					<% end %>
				</tbody>
			</table><%= paginate @items %>
		</div></div>

		<% else %>


		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-lg-5">タイトル</th>
					<th>機種</th>
					<th>ジャンル</th>
					<th>発売日</th>
					<th>投票</th>
					<th>コメント</th>
					<th>良い</th>
					<th>普通</th>
					<th>悪い</th>
				</tr>
			</thead>

			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><h4><%= link_to item.title,item_path(item) %></h4></td>
					<td><h5><%= item.hardware.hardware %></h5></td>
					<td><h5><%= item.genre.genre %></h5></td>
					<td><h5><%= item.sale_date %></h5></td>
					<td><% if user_signed_in? %>
							<% if item.voted_by?(current_user) %>
								<%= link_to "投票解除",item_vote_path(item.id,Vote.find_by(user_id: current_user.id,item_id: item.id)),method: :delete,class:"btn btn-primary active" %>
							<% else %>
								<%= link_to "投票",new_item_vote_path(item.id),class:"btn btn-primary" %>
							<% end %>
						<% end %></td>
					<td><h5><%= Vote.where(item_id: item.id).count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"1").count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"2").count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"3").count %></h5></td>
				</tr>
				<% end %>
			</tbody>
		</table><%= paginate @items %>
</div>
		<% end %>