	<div class="row">
		<%= attachment_image_tag @item, :image, fallback: "img/no_image.jpg", class:"col-lg-3" %>
		<div class="col-lg-9">
			
			<div class="row">
				<div class="col-lg-5"><p class="item_title"><%= @item.title %></p>
					<table class="table">
						<tbody>
							<tr>
								<th>機種</th>
								<td><%= @item.hardware.hardware %></td>
							</tr>
							<tr>
								<th>ジャンル</th>
								<td><%= @item.genre.genre %></td>
							</tr>
							<tr>
								<th>制作会社</th>
								<td><%= @item.label.label %></td>
							</tr>
							<tr>
								<th>発売日</th>
								<td><%= @item.sale_date %></td>
							</tr>
							<tr>
								<th>値段</th>
								<td><%= @item.price %></td>
							</tr>
							<tr>
								<th>rating</th>
								<td><%= @item.rating.rating %></td>
							</tr>
							<tr>
								<th>公式サイト</th>
								<td><%= @item.official %></td>
							</tr>
							<tr>
								<th>amazon</th>
								<td><%= @item.amazon %></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-lg-7">
					<div class="row">
					<table class="table">
						<thead>
							<tr>
								<th class="col-lg-11">コメント</th>
								<th class="col-lg-1">評価</th>
							</tr>
						</thead>
						<tbody>
							<% @votes.each do |vote| %>
							<tr>
								<td><%= vote.comment %></td>
								<td><%= vote.favo %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


