<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-lg-1">順位</th>
					<th class="col-lg-5">タイトル</th>
					<th class="col-lg-1">ジャンル</th>
					<th>発売日</th>
					<th class="col-lg-1">投票</th>
					<th>コメント</th>
					<th>良い</th>
					<th>普通</th>
					<th>悪い</th>
				</tr>
			</thead>

			<tbody>
				<% ranks.each.with_index(1) do |item , i| %>
				<tr>
					<td><h5 style="color: white;"><%= "第#{i}位" %></h5></td>
					<td><h4><%= link_to item.title,item_path(item) %></h4></td>
					<td><h5><%= item.genre.genre %></h5></td>
					<td><h5><%= item.sale_date %></h5></td>
					<td><% if user_signed_in? %>
							<% if item.voted_by?(current_user) %>
								<%= link_to "投票解除",item_vote_path(item.id,Vote.find_by(user_id: current_user.id,item_id: item.id)),method: :delete,class:"btn btn-primary active" %>
							<% else %>
								<%= link_to "投票",new_item_vote_path(item.id),class:"btn btn-primary" %>
							<% end %>
						<% end %>
							</td>
					<td><h5><%= Vote.where(item_id: item.id).count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"1").count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"2").count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"3").count %></h5></td>
				</tr>
				<% end %>
				<% noranks.each do |item| %>
				<tr>
					<td><h5 style="color: white;">ランク外</h5></td>
					<td><h4><%= link_to item.title,item_path(item) %></h4></td>
					<td><h5><%= item.genre.genre %></h5></td>
					<td><h5><%= item.sale_date %></h5></td>
					<td><% if user_signed_in? %>
						<%= link_to "投票",new_item_vote_path(item),class:"btn btn-primary" %><% end %></td>
					<td><h5><%= Vote.where(item_id: item.id).count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"1").count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"2").count %></h5></td>
					<td><h5><%= Vote.where(item_id: item.id,favo:"3").count %></h5></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>