<h2><%= Hardware.find(params[:id]).hardware %>ランキング</h2>
<div class="row">
		<h4 class="col-lg-1"><%= link_to "今月", hardware_items_monthranking_path %></h4>
		<h4 class="col-lg-1"><%= link_to "来月",hardware_items_nextmonthranking_path %></h4>
		<h4 class="col-lg-1"><%= link_to "先月",hardware_items_prevmonthranking_path %></h4>
</div>
<%= render "hardwares/list",ranks:@ranks,noranks:@noranks %>