<div class="row">
    <div class="col-lg-4 col-lg-offset-4"style="border:1px solid #ddd;background-color: rgba( 0, 0, 0, 0.2 );">
			<session><h2>Forgot your password?</h2></session>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :email,"メールアドレス", class:"control-label" %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Send me reset password instructions", class:"btn btn-primary",style:"margin:10px 0 10px 0;" %>
			  </div>
			<% end %>

			<%= render "admins/shared/links" %>
		</div>
	</div>
