<!DOCTYPE html>
<html>
  <head>
    <title>Ranking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="row">
          <div class="navbar-header col-lg-1">
            <a class="navbar-brand"href="/"></a>
          </div>
            <ul class="nav navbar-nav col-lg-10 row">
              <li class="dropdown col-lg-2">
                <a data-toggle="dropdown" href="#">ジャンル<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <% Genre.all.order(:priority).each do |genre| %>
                      <li><%= link_to genre_items_ranking_path(genre) do %>
                          <%= genre.genre %><% end %>
                      </li>
                    <% end %>
                  </ul>
              </li>

              <li class="dropdown col-lg-2">
                <a data-toggle="dropdown" href="#">機種名<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <% Hardware.all.order(:priority).each do |hard| %>
                      <li><%= link_to hardware_items_ranking_path(hard) do %>
                          <%= hard.hardware %><% end %>
                      </li>
                    <% end %>
                  </ul>
              </li>

              <li class="col-lg-2"><%= link_to "総合",items_ranking_path %></li>
              <li class="col-lg-2"><%= link_to "最新投稿",items_newrelease_path %></li>

              <li class="dropdown col-lg-2">
                <% if user_signed_in? %>
                  <a data-toggle="dropdown" href="#"><%= current_user.name %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "マイページ",user_path(current_user.id) %></li>
                      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                    </ul>
                <% else %>
                  <%= link_to "ログイン" ,new_user_session_path %>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "会員登録はこちら", new_user_registration_path %></li>
                    </ul>
                <% end %>
              </li>
            
              <div role="form col-lg-2" >
              <%= search_form_for @search do |f| %>
                  <%= f.search_field :title_cont, class:"form-control navbar-form navbar-left",size: "17x10" %>
                    <!-- ナビゲーションバーにフォームを無理やり入れる為にボタンだけ別にする　-->
                  </div>
              </ul>
                  <%= f.submit '検索', class:"btn btn-primary",style:"margin-top:7px; float:left;" %>
              <% end %>
              
            
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      
    </footer>
    </div>
  </body>
</html>
